.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 4%;
    background-color: rgb(49, 47, 47);
}
.navbar .logo{
    width: max(20%,80px);
}
.navbar .profile{
    width: 55px;
}